[Unit]
Description=medusa database exporter agent
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/medusa/bin
ExecStart=/opt/medusa/bin/agent.py
# ExecStop=
# ExecReload=
PIDFile=/var/run/medusa-agent.pid

[Install]
WantedBy=multi-user.target
